#container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

.banner{
	height: 175px;
	width: 200px;

}

#image_div {
	margin: 2em;
}

#ipsumdiv {
	margin-left:100px;
	margin-right:100px;
}

#dotadiv {
	margin-left:100px;
	margin-right:100px;
}

#results {
	margin-left:100px;
	margin-right:100px;
}